body{
    margin: 0;
    padding: 0;
}

.home-btn{
    position: fixed;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, .2);
    border-radius: 25px;
    padding: 10px;
    font-size: 18px;
    box-shadow: 2px 2px 05px rgba(0, 0, 0, .4);
    z-index: 2;
}

.home-btn a{
    text-decoration: none;
    color: white;
}

.circle{
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    /* transform: translate(-50%, -50%); */
    animation: aa 1s 1;
}

@keyframes aa {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}